# COVID-19 Data Analysis

## 1. Reading multiple files and combining results into a single data frame

In [188]:
import pandas as pd
import glob

# Read multiple files into one dataframe
allfiles = glob.glob('E:/Practice Fundamental Assignments/Corona Virus/John Hopkins-Git/csse_covid_19_daily_reports/*.csv')
df = pd.concat((pd.read_csv(f) for f in allfiles), sort=False)

In [189]:
#df

#### Enlisting the column names of the columns in the dataset

In [190]:
import pandas as pd
list(df.columns)

['Province/State',
 'Country/Region',
 'Last Update',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Latitude',
 'Longitude',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Last_Update',
 'Lat',
 'Long_',
 'Active',
 'Combined_Key']

## 2. Creating the subset of the required columns from the main dataset

In [191]:
sub_df = df[["Province_State", "Country_Region", "Last_Update","Lat", "Long_", "Confirmed", "Deaths", "Recovered", "Active"]]

In [192]:
sub_df

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,444.0,17.0,28.0,NaN
14,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2404,NaN,Slovakia,2020-03-31 23:43:43,48.669000,19.699000,363.0,0.0,3.0,360.0
2405,NaN,Slovenia,2020-03-31 23:43:43,46.151200,14.995500,802.0,15.0,10.0,777.0
2406,NaN,Somalia,2020-03-31 23:43:43,5.152149,46.199616,5.0,0.0,1.0,4.0
2407,NaN,South Africa,2020-03-31 23:43:43,-30.559500,22.937500,1353.0,5.0,31.0,1317.0
2408,NaN,Spain,2020-03-31 23:43:43,40.463667,-3.749220,95923.0,8464.0,19259.0,68200.0
2409,NaN,Sri Lanka,2020-03-31 23:43:43,7.873054,80.771797,143.0,2.0,17.0,124.0
2410,NaN,Sudan,2020-03-31 23:43:43,12.862800,30.217600,7.0,2.0,1.0,4.0
2411,NaN,Suriname,2020-03-31 23:43:43,3.919300,-56.027800,9.0,0.0,0.0,9.0
2412,NaN,Sweden,2020-03-31 23:43:43,60.128161,18.643501,4435.0,180.0,16.0,4239.0
2413,NaN,Switzerland,2020-03-31 23:43:43,46.818200,8.227500,16605.0,433.0,1823.0,14349.0
2414,NaN,Syria,2020-03-31 23:43:43,34.802075,38.996815,10.0,2.0,0.0,8.0
2415,NaN,Taiwan*,2020-03-31 07:26:59,23.700000,121.000000,322.0,5.0,39.0,278.0
2416,NaN,Tanzania,2020-03-31 23:43:43,-6.369028,34.888822,19.0,1.0,1.0,17.0
2417,NaN,Thailand,2020-03-31 23:43:43,15.870032,100.992541,1651.0,10.0,342.0,1299.0
2418,NaN,Timor-Leste,2020-03-31 23:43:43,-8.874217,125.727539,1.0,0.0,0.0,1.0
2419,NaN,Togo,2020-03-31 23:43:43,8.619500,0.824800,34.0,1.0,10.0,23.0
2420,NaN,Trinidad and Tobago,2020-03-31 23:43:43,10.691800,-61.222500,87.0,3.0,1.0,83.0
2421,NaN,Tunisia,2020-03-31 23:43:43,33.886917,9.537499,394.0,10.0,3.0,381.0
2422,NaN,Turkey,2020-03-31 23:43:43,38.963700,35.243300,13531.0,214.0,243.0,13074.0
2423,NaN,Uganda,2020-03-31 23:43:43,1.373333,32.290275,44.0,0.0,0.0,44.0
2424,NaN,Ukraine,2020-03-31 23:43:43,48.379400,31.165600,645.0,17.0,10.0,618.0
2425,NaN,United Arab Emirates,2020-03-31 23:43:43,23.424076,53.847818,664.0,6.0,61.0,597.0
2426,NaN,United Kingdom,2020-03-31 23:43:43,55.378100,-3.436000,25150.0,1789.0,135.0,23226.0
2427,NaN,Uruguay,2020-03-31 23:43:43,-32.522800,-55.765800,338.0,1.0,41.0,296.0
2428,NaN,Uzbekistan,2020-03-31 23:43:43,41.377491,64.585262,172.0,2.0,7.0,163.0
2429,NaN,Venezuela,2020-03-31 23:43:43,6.423800,-66.589700,135.0,3.0,39.0,93.0
2430,NaN,Vietnam,2020-03-31 23:43:43,14.058324,108.277199,212.0,0.0,58.0,154.0
2431,NaN,West Bank and Gaza,2020-03-31 23:43:43,31.952200,35.233200,119.0,1.0,18.0,100.0
2432,NaN,Zambia,2020-03-31 23:43:43,-13.133897,27.849332,35.0,0.0,0.0,35.0
2433,NaN,Zimbabwe,2020-03-31 23:43:43,-19.015438,29.154857,8.0,1.0,0.0,7.0

## 3. Format

### 3.1)  Assign 4 decimal places to Lat, Long_

In [194]:
sub_df.iloc[:, 3:5] = sub_df.iloc[:, 3:5].round(4) 

# Though we want to access only 2 columns column 3 and column 4 but we give index 3:5 because upper
# bound is not included so if we did only 3:4 it would perform operation on only column 3

In [195]:
sub_df.dtypes

Province_State     object
Country_Region     object
Last_Update        object
Lat               float64
Long_             float64
Confirmed         float64
Deaths            float64
Recovered         float64
Active            float64
dtype: object

#### Converting the data type of "Last_Update" column to datetime

In [196]:
df["Last_Update"] = pd.to_datetime(df["Last_Update"])
sub_df["Last_Update"] = pd.to_datetime(sub_df["Last_Update"])
#df['Datetime'] = pd.to_datetime(df['Datetime'])

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [197]:
sub_df["Last_Update"].dtypes

dtype('<M8[ns]')

In [198]:
#sub_df['Last_Update_Date'] = pd.to_datetime(sub_df["Last_Update"]).dt.date
#sub_df['Last_Update_Time'] = pd.to_datetime(sub_df["Last_Update"]).dt.time

### 3.2) Convert the "Last_Update" column constituting Date and Time to just a date format - dd/mm/yyyy

In [199]:
sub_df['Last_Update'] = sub_df['Last_Update'].dt.strftime('%d/%m/%Y')

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### 3.3) Check for NA's- Replace the NA's in "Confirmed", "Deaths", "Active", "Recovered" columns with 0's upon validating

#### Print Column Names with missing values

In [200]:
def missing_zero_values_table(sub_df):
        zero_val = (sub_df == 0.00).astype(int).sum(axis=0)
        mis_val = sub_df.isnull().sum()
        mis_val_percent = 100 * sub_df.isnull().sum() / len(sub_df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = sub_df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(sub_df.shape[1]) + " columns and " + str(sub_df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

missing_zero_values_table(sub_df)

Your selected dataframe has 9 columns and 40873 Rows.
There are 8 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
Province_State,0,9314,22.8,9314,22.8,object
Lat,328,7632,18.7,7960,19.5,float64
Long_,328,7632,18.7,7960,19.5,float64
Country_Region,0,7617,18.6,7617,18.6,object
Active,31019,7617,18.6,38636,94.5,float64
Deaths,33721,441,1.1,34162,83.6,float64
Recovered,35271,388,0.9,35659,87.2,float64
Confirmed,14223,19,0.0,14242,34.8,float64

In [201]:
sub_df.iloc[:,5:9]=sub_df.iloc[:,5:9].fillna(0)

# Though we want to access only 4 columns column 5 to column 8 but we give index 5:9 because upper
# bound is not included so if we did only 5:8 it would perform operation on only columns 5:7

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [202]:
sub_df.iloc[:,5:9]

      Confirmed  Deaths  Recovered   Active
0           1.0     0.0        0.0      0.0
1          14.0     0.0        0.0      0.0
2           6.0     0.0        0.0      0.0
3           1.0     0.0        0.0      0.0
4           0.0     0.0        0.0      0.0
5          26.0     0.0        0.0      0.0
6           2.0     0.0        0.0      0.0
7           1.0     0.0        0.0      0.0
8           4.0     0.0        0.0      0.0
9           1.0     0.0        0.0      0.0
10          0.0     0.0        0.0      0.0
11          5.0     0.0        0.0      0.0
12          0.0     0.0        0.0      0.0
13        444.0    17.0       28.0      0.0
14          4.0     0.0        0.0      0.0
15          0.0     0.0        0.0      0.0
16          1.0     0.0        0.0      0.0
17          2.0     0.0        0.0      0.0
18          0.0     0.0        0.0      0.0
19          2.0     0.0        0.0      0.0
20          1.0     0.0        0.0      0.0
21          1.0     0.0        0.0      0.0
22          0.0     0.0        0.0      0.0
23          0.0     0.0        0.0      0.0
24          2.0     0.0        0.0      0.0
25          9.0     0.0        0.0      0.0
26          1.0     0.0        0.0      0.0
27          5.0     0.0        0.0      0.0
28          1.0     0.0        0.0      0.0
29          4.0     0.0        0.0      0.0
...         ...     ...        ...      ...
2404      363.0     0.0        3.0    360.0
2405      802.0    15.0       10.0    777.0
2406        5.0     0.0        1.0      4.0
2407     1353.0     5.0       31.0   1317.0
2408    95923.0  8464.0    19259.0  68200.0
2409      143.0     2.0       17.0    124.0
2410        7.0     2.0        1.0      4.0
2411        9.0     0.0        0.0      9.0
2412     4435.0   180.0       16.0   4239.0
2413    16605.0   433.0     1823.0  14349.0
2414       10.0     2.0        0.0      8.0
2415      322.0     5.0       39.0    278.0
2416       19.0     1.0        1.0     17.0
2417     1651.0    10.0      342.0   1299.0
2418        1.0     0.0        0.0      1.0
2419       34.0     1.0       10.0     23.0
2420       87.0     3.0        1.0     83.0
2421      394.0    10.0        3.0    381.0
2422    13531.0   214.0      243.0  13074.0
2423       44.0     0.0        0.0     44.0
2424      645.0    17.0       10.0    618.0
2425      664.0     6.0       61.0    597.0
2426    25150.0  1789.0      135.0  23226.0
2427      338.0     1.0       41.0    296.0
2428      172.0     2.0        7.0    163.0
2429      135.0     3.0       39.0     93.0
2430      212.0     0.0       58.0    154.0
2431      119.0     1.0       18.0    100.0
2432       35.0     0.0        0.0     35.0
2433        8.0     1.0        0.0      7.0

[40873 rows x 4 columns]

## 4. Random Integrity Check

In [203]:
len(sub_df)
#df.count()

40873

In [204]:
# Test Case for the formatting applied: 
# 1. 4 decimal Places for "Lat", "Long_"
# 2. "Latest_Update" column to only date format
# 3. Replace the NA's in "Confirmed", "Deaths", "Active", "Recovered" columns with 0's upon validating

# Let's check it for random row numbers say 23, 3200, 40000
#import random
#random.sample(sub_df, 5) #sub_df[[c(23,3200,40000), ]]
sub_df.sample(n=5)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
243,NaN,NaN,NaT,NaN,NaN,1.0,0.0,0.0,0.0
2746,California,US,27/03/2020,39.0342,-121.6946,2.0,0.0,0.0,0.0
1028,Idaho,US,29/03/2020,44.0648,-116.3984,1.0,0.0,0.0,0.0
3355,NaN,Laos,30/03/2020,19.8563,102.4955,8.0,0.0,0.0,8.0
2624,Washington,US,28/03/2020,48.4817,-121.7661,91.0,1.0,0.0,0.0

## References
##### https://gist.github.com/abladon/72c4eb17546a3c195978
##### https://www.delftstack.com/howto/python-pandas/how-to-convert-dataframe-column-to-datetime-in-pandas/
##### https://stackoverflow.com/questions/35595710/splitting-timestamp-column-into-separate-date-and-time-columns
##### https://stackoverflow.com/questions/42152066/how-to-change-the-format-of-date-in-a-dataframe
#### https://kite.com/python/answers/how-to-replace-nan-values-with-zeros-in-a-column-of-a-pandas-dataframe-in-python
##### https://gist.github.com/abladon/72c4eb17546a3c195978